{% extends 'authentication_system/base.html' %}

{% block title %} View Balances {% endblock %}

{% block content %}    
    
    <!-- Very simple static page -->
    <h2>Balances</h2>
    <br>

    <!-- For each account, display the type and balance -->
    <!-- Clicking on an account redirects to the transaction history -->
    {% for account in accounts %}
        <h4 onclick="window.location.href='/transaction_history'" onmouseover="" style="cursor: pointer;">{{ account.account_type }}: ${{ account.balance }}</h4>
    {% endfor %}

{% endblock %}