<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>View Balances</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <h1>These are your balances, {{ user.username }}</h1>

        {% for account in accounts %}
        <h2>{{ account.account_type }}: ${{ account.balance }}</h2>
        {% endfor %}

        <li><a href="/">Front Page</a></li>
        {% else %}
        <h1><a href="/accounts/login">Please log in first</a></h1>
        {% endif %}
    </body>
</html>