{% extends 'authentication_system/base.html' %}

{% block title %} View Balances {% endblock %}

{% block content %}    
    
    {% if user.is_authenticated %}
        <h1>These are your balances, {{ user.username }}</h1>

        {% for account in accounts %}
            <h3 onclick="window.location.href='/transaction_history'" onmouseover="" style="cursor: pointer;">{{ account.account_type }}: ${{ account.balance }}</h3>
        {% endfor %}

        
    {% else %}
        <h1><a href="/accounts/login">Please log in first</a></h1>
    
    {% endif %}

{% endblock %}