{% extends 'authentication_system/base.html' %}

{% block title %} View Balances {% endblock %}

{% block content %}    
    
    {% if user.is_authenticated %}
        <h2>Balances</h2>
        <br>

        {% for account in accounts %}
            <h4 onclick="window.location.href='/transaction_history'" onmouseover="" style="cursor: pointer;">{{ account.account_type }}: ${{ account.balance }}</h4>
        {% endfor %}

        
    {% else %}
        <h1><a href="/accounts/login">Please log in first</a></h1>
    
    {% endif %}

{% endblock %}