{% extends 'authentication_system/base.html' %}

{% block title %} Transaction History {% endblock %}

{% block content %}    

    <h2>Transaction History</h2>
    <br>

    <!-- Provide the user with the opportunity to select which account
        the transaction history of which will be presented in the table -->
    <h3>Select your account</h3>
    <form method="POST" action="{% url 'transaction_history' %}">
        {% csrf_token %}
        {% for account in accounts %}
            <input type="radio" id="{{ account.id }}" name="account select radio" value="{{ account.id }}">
            <label for="{{ account.id }}">{{ account.account_type }}: ${{ account.balance }}</label><br>
        {% endfor %}
        <input type="submit" value="Select">
    </form>

    <br></br>

    <!-- The table that displays all the transactions -->
    <h3>{{ selected.account_type }}</h3>
    <table id="transaction table">
        <tr>
            <!-- Sort the table according to the column header when clicked -->
            <th onclick="sortTable(0, 'int')">ID</th>
            <th onclick="sortTable(1)">Sender</th>
            <th onclick="sortTable(2)">Receiver</th>
            <th onclick="sortTable(3, 'float')">Amount</th>
            <th onclick="sortTable(4)">Time</th>
        </tr>

        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }} </td>

                <!-- If the user is the sender, display "Me" instead of their username -->
                {% if transaction.sender.user == user %}
                    <td>Me</td>
                {% else %}
                    <td>{{ transaction.sender.user.username }}</td>
                {% endif %}

                <!-- If the user is the receiver, display "Me" instead of their username -->
                {% if transaction.receiver.user == user %}
                    <td>Me</td>
                {% else %}
                    <td>{{ transaction.receiver.user.username }}</td>
                {% endif %}
                
                
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.time }}</td>
            </tr>
        {% endfor%}

    </table>


    <!-- This script takes the text data loaded into the table and sorts it directly 
        in the page, no additional requests needed. It is a slightly modified version
        of the second one found here: https://www.w3schools.com/howto/howto_js_sort_table.asp.
        It's a pretty straight-forward bubble sort, though it does change how it compares
        the values based on if they're text, ints, or floats. The format I selected
        for datetimes is the ISO standard specifically so that I can sort them here
        as text and have that be the same as sorting in time order. -->
    <script>
        function sortTable(n, type="text") {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("transaction table");
            switching = true;
            
            //Set the sorting direction to ascending:
            dir = "asc"; 
            
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("TD")[n];
                    x = x.innerHTML.toLowerCase();
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    y = y.innerHTML.toLowerCase();


                    // Convert x and y to the correct datatypes before comparing
                    if (type == 'float')
                    {
                        x = parseFloat(x)
                        y = parseFloat(y)
                    }
                    else if (type == 'int')
                    {
                        x = parseInt(x)
                        y = parseInt(y)
                    }
                    
                    /*check if the two rows should switch place,
                    based on the direction, asc or desc:*/
                    if ((dir == "asc" && x > y) || (dir == "desc" && x < y)) 
                    {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                    } 

                }
                if (shouldSwitch) 
                {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    
                    //Each time a switch is done, increase this count by 1:
                    switchcount ++;      
                } 
                else 
                {
                    /*If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again.*/
                    if (switchcount == 0 && dir == "asc") 
                    {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
        

{% endblock %}