{% extends 'authentication_system/base.html' %}

{% block title %} Request Money {% endblock %}

{% block content %}    
    
    {% if user.is_authenticated %}
    
        <h2>Request money</h2>

        <form method="POST" action="{% url 'request_money' %}">
            {% csrf_token %}
            
            <p>Enter target user:</p>
            <input type="text" name="target user field" label="test">
            <br></br>
            
            <p>Enter amount:</p>
            <input type="text" name="amount field">
            <br></br>

            <!--
            <p>Select your account from which you are sending:</p>
            {% for account in accounts %}
                <input type="radio" id="{{ account.id }}" name="from account radio" value="{{ account.id }}">
                <label for="{{ account.id }}">{{ account.account_type }}: ${{ account.balance }}</label><br>
            {% endfor %}
            <br></br>
            -->


            <input type="submit" value="Send">
        </form>


    {% else %}
        <h1><a href="/accounts/login">Please log in first</a></h1>
    
    {% endif %}


    {% if error %}
        <script>
            alert("Error: {{ error_message }}");
        </script>
    {% endif %}

    {% if sent %}
        <script>
            alert("Request Successful")
        </script>
    {% endif %}


{% endblock %}