{% extends 'authentication_system/base.html' %}

{% block title %} View Requests {% endblock %}

<!-- Similarly to how "request_money.html" was cannibalized from "send_money.html", 
    this page was cannibalized from "transactions.html" -->
{% block content %}    
    <h2>View Requests</h2>

    <!-- Other than the header above, the only thing on this page is the requests table -->
    <table id="request table">

        <!-- The headers on the table call the sortTable() function when clicked
            in order to sort the table according to that column. The exception
            to this is the "Delete?" header, since that column has buttons, not data -->
        <tr>
            <th onclick="sortTable(0, 'int')">ID</th>
            <th onclick="sortTable(1)">Requester</th>
            <th onclick="sortTable(2, 'float')">Amount</th>
            <th onclick="sortTable(3)">Time</th>
            <th>Delete?</th>
        </tr>

        <!-- Django iterates across each of the requests, and fills this into the html for each -->
        {% for request in requests %}
            <!-- Each request gets its own row in the table -->
            <tr>
                <!-- First the unique request ID-->
                <td>{{ request.id }} </td>

                <!-- Since you can technically request yourself for money,
                    rather than listing your own username, it just says "Me".
                    This is mainly just to be consistent with the transaction 
                    history table, wherein you must be on every row of the table. -->
                {% if request.sender == user %}
                    <td>Me</td>
                {% else %}
                    <td>{{ request.sender.username }}</td>
                {% endif %}
                
                <!-- Finish out the request info with the amout and the timestamp -->
                <td>{{ request.amount }}</td>
                <td>{{ request.time }}</td>
                
                <!-- Each request also comes with a button. When pressed, it sends 
                    a post request containing the id of the selected request with
                    the name "delete", so that the system knows which one you're deleting.-->
                <td><form method="POST" action="{% url 'view_requests' %}">
                    {% csrf_token %}
                    <button type="submit" name="delete" value="{{ request.id }}">X</button>
                </form>
                </td>
            </tr>
        {% endfor%}

    </table>


    <!-- This script takes the text data loaded into the table and sorts it directly 
        in the page, no additional requests needed. It is a slightly modified version
        of the second one found here: https://www.w3schools.com/howto/howto_js_sort_table.asp.
        It's a pretty straight-forward bubble sort, though it does change how it compares
        the values based on if they're text, ints, or floats. The format I selected
        for datetimes is the ISO standard specifically so that I can sort them here
        as text and have that be the same as sorting in time order. -->
    <script>
        function sortTable(n, type="text") {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("request table");
            switching = true;
            
            //Set the sorting direction to ascending:
            dir = "asc"; 
            
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("TD")[n];
                    x = x.innerHTML.toLowerCase();
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    y = y.innerHTML.toLowerCase();


                    // Convert x and y to the correct datatypes before comparing
                    if (type == 'float')
                    {
                        x = parseFloat(x)
                        y = parseFloat(y)
                    }
                    else if (type == 'int')
                    {
                        x = parseInt(x)
                        y = parseInt(y)
                    }
                    
                    /*check if the two rows should switch place,
                    based on the direction, asc or desc:*/
                    if ((dir == "asc" && x > y) || (dir == "desc" && x < y)) 
                    {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                    } 

                }
                if (shouldSwitch) 
                {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    
                    //Each time a switch is done, increase this count by 1:
                    switchcount ++;      
                } 
                else 
                {
                    /*If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again.*/
                    if (switchcount == 0 && dir == "asc") 
                    {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
        

{% endblock %}