{% extends 'authentication_system/base.html' %}

{% block title %} Login {% endblock %}

<!-- Most of the heavy-lifting for this page is outsourced to the -->
<!-- built-in Django authentication system, identified here as "form" -->
{% block content %}

    <h2>Login</h2>
    <br>

    <!-- Let the user know if the credentials are incorrect -->
    {% if form.errors %}
        <script>
            alert("Error: Invalid Login")
        </script>
    {% endif %}

    <!-- Not entirely sure when this gets tripped, -->
    <!-- but all the Django docs said to have it here ¯\_(ツ)_/¯ -->
    {% if next %}
        <script>
            alert("Error: Can't access that page")
        </script>
    {% endif %}

    <!-- Collect username and password, send it off to the Django auth system-->
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        
        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>

        <p><input type="submit", value="login"></p>
        <p><input type="hidden", name="next", value="{{ next }}"></p>

    </form>

{% endblock %}