{% extends 'authentication_system/base.html' %}

{% block title %} Register {% endblock %}

<!-- This page is not meant to be user-facing, -->
<!-- which is why there isn't a link to it in the sidenav. -->
<!-- I have it here for administrative purposes to add extra test accounts. -->
{% block content %}
    <h1>Register New Account</h1>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <script>
                        alert("Error: {{ error }}")
                    </script>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {{ form }}

        <input type="submit" value="Register">
    </form>
{% endblock %}